body {
  background-color: $color;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 20px;
}

body div {
  width 300px
  height 200px
  background-size: 100%
  background-image: url("~@assets/images/img.jpg")
}